@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font_family: 'Montserrat';
}

@media screen and (max-width: 787px){
    .question{
        font-size: 60px;
        font-size: 700;
        text-align: center;
    }
}


    


@media screen and (max-width: 767px){
    .ans{

        Width: 100px;
        height: 50px;
        margin-bottom: 25px;
        font-size: 30px;
        border-radius: 5px;
        display: flex;
        justify-self: center;
        align-items: center;
        margin: auto;
    }
}

@media screen and (min-width: 768px) and (max-widht: 1599px){
    .ans{
        border: 1px solid black;
        width: 100px;
        height: 70px;
        font-size: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: center;
    }
}

.ans{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px
}

